*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 120px;
}

.red-color {
    color: #7b241c;
    font-weight: lighter;

    }
.font-verdana{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.flexbox{
    display: flex;
    flex-direction: row;
    
    
}

li{
    margin-inline: 0;
}
h1,p{
    margin-block: 0;
}
.flex-heading{
    margin-bottom: 0;
}
